<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arrival Flight</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
				<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css2?family=Poppins">

		<link rel="stylesheet" href="css/mycss.css">
</head>
<body class="background-wrapper">
    <nav class="navbar navbar-inverse" style="border-radius:0px !important; margin:0;border: 0">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>                       
              </button>
              <a class="navbar-brand" href="/Adminhome">Airline-X</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <% if (ArrivalData.isadmin === "yes") {%>
                        <li><a href="/Adminhome">Home</a></li>
                        <li><a href="/addArrivalFlight">Add Arival Flight</a></li>
                        <li ><a href="/addDepartureFlight">Add Departure Flight</a></li>
                        <li class="active"><a href="/Arrival">Arival Flight</a></li>
                        <li  ><a href="/Departure">Departure Flight</a></li>
                        <li ><a href="/addEmployee">Add Employee Details</a></li>
                        <li ><a href="/Employee">Employee Details</a></li>
                    <%} else{ %>
                        <li><a href="/homeUser">Home</a></li>
						<li><a href="/booking">Booking</a></li>
                        <li><a href="/ticketDetails">Ticket Details</a></li>
                        <li><a href="/addpassengerdetails">Add passenger details</a></li>
                        <li><a href="/passengerdetails">Passenger details</a></li>
                        <li class="active"><a href="/Arrival">Arrivals</a></li>
                        <li><a href="/Departure">Departures</a></li>
                        <% } %>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></a></li>
                </ul>
            </div>
        </nav>
            
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="panel-group">
                          <div class="panel panel-default panel-transparent">
                            <div class="panel-heading">
                                <legend style="text-align: center;">Arival Flight Details</legend>
                            </div>

                            <div>
                        <header>
                            <h2>Arrival</h2>
                            <hr>
                        </header>


                        
                            <table class="table" style="color: black; font-size: 20px">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Flight Code</th>
                                        <th>Airline Name</th>
                                        <th>from</th>
                                        <th>Arrival Date</th>
                                        <th>Arrival Time</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                <%
                                if(ArrivalData.length!=0){
                                var i=1;
                                ArrivalData.forEach(function(data){
                                %>
                                <tr>
                                    <td><%=i; %></td>
                                    <td><%=data.FlightCode %></td>
                                    <td><%=data.Airline %></td>
                                    <td><%=data.Source %></td>
                                    <td><%=data.ArrivalDate %></td>
                                    <td><%=data.ArrivalTime %></td>
                                </tr>
                                <%  i++; }) %>
                                <% } else{ %>
                                    <tr>
                                        <td colspan="6">No Data Found</td>
                                    </tr>
                                <% } %>
                                </tbody>
                          </table>
                        </div>
                        
                      
                       
                                
                            </div>
                        </div>
                    </div>
        </div>
       
        
        <% if (ArrivalData.isadmin === "yes") { %>
            <div class="form-box">
            <form  action ="/deletearrival" class="input-group"  method="post" >
                <input type="text" class="input-field" style="background: none;"name="FC" placeholder="Ente the FC to remove" required>
                <button type="submit">Enter</button></form>
            </div>
          <% } %>
  
</body>
</html>